::-webkit-scrollbar {
  display: none;
}

 body {
  font-family: 'Times New Roman', Times, serif;
  font-size: large;
  /* background: transparent; */
  background-image: url('418629.jpg');
   background-size: cover;
  background-repeat: no-repeat;
}

.card {
background-color:  #FFA44E;
}