::-webkit-scrollbar {
  display: none;
}
html {
  height:100%;
}


body {
  font-family: 'Times New Roman', Times, serif;
  font-size: large;
  /* background: transparent; */
  background-image: url('418629.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.card {
  background-color: #ffa44e;
}
