::-webkit-scrollbar {
  display: none;
}

html {
  background: #420b0a; 
  background-size: cover;
  /* background-repeat: no  -repeat; */

}
 body {
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', Times, serif;
  font-size: large;
  background: transparent;
}

.card {
background-color: #ec8f00;
}